
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table>
    <tr>
        <th>ID</th>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
        <td>ID</td>
    </tr>
</table>